body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at center,
      rgba(128, 41, 41, 1) 27%,
      rgba(82, 18, 18, 1) 68%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
}

.secret-santa-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.first-steps {
  display: flex;
  font-family: Limelight;
  font-size: 70px;
  color: white;
}

#dialogue-container {
  display: flex;
  flex-direction: column;
  background-color: #680707;
  padding: 10px;
  width: 80%;
  text-align: center;

}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.flake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 10px;
  user-select: none;
  pointer-events: none;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh) translateX(20px);
  }
}

#dialogue {
  color: white;
  font-weight: bold;
}
#nextBtn {
  background-color: #aa1b1b;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: 0px;
}

#nextBtn:hover {
  background-color: #e32727
}
#gift {
  margin-top: 40px;
  display: none;
  gap: 20px;
  justify-content: center;
}

.gift-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  filter: blur(12px) brightness(0.5);
  transition: 0.5s ease;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
}

.gift-img.revealed {
  filter: blur(0) brightness(1);
  transform: scale(1.05);
}

/* Fenêtre popup */
#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  display: none;               /* caché par défaut */
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* Image dans le popup */
#lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
  transition: transform 0.3s ease;
}

#lightbox.show #lightbox-img {
  transform: scale(1);
}
