body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at center,
      rgba(128, 41, 41, 1) 27%,
      rgba(82, 18, 18, 1) 68%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
}

.secret-santa-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.first-steps {
  display: flex;
  font-family: Limelight;
  font-size: 70px;
}

#dialogue-container {
  display: flex;
  flex-direction: column;
  background-color: #680707;
  padding: 10px;
  width: 80%;
  text-align: center;

}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.flake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 10px;
  user-select: none;
  pointer-events: none;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh) translateX(20px);
  }
}

#nextBtn {
  background-color: #aa1b1b;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: 0px;
}

